<md-sidenav-container>
  <md-sidenav #sidenav mode="over">

  </md-sidenav>
  <md-toolbar color="primary">
    <span>Auto Vent</span>
    <md-icon-button></md-icon-button>
  </md-toolbar>
  <router-outlet></router-outlet>
</md-sidenav-container>


